@use 'css-reset';

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-blue: hsl(249, 10%, 26%);
$neutral-gray-blue: hsl(246, 25%, 77%);
$neutral-white: hsl(0, 14%, 95%);
$font-size: 1rem;
$ff: 'Poppins';
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;


/* TODO:
    fix button/div issue, can't have active states on a div
    fix icon error placement, not responsive
*/

body {
    background-image: url('../public/images/bg-intro-mobile.png');
    background-color: $primary-red;
    font-family: $ff;
    font-size: $font-size;
    font-weight: $fw-400;
    padding-inline: 1.8rem;
    min-height: 100vh;
    padding-top: 2rem;
}

main {
    padding-bottom: 2rem;
}

header {
    color: $neutral-white;
    text-align: center;
}

h2 {
    padding-top: 3.8rem;
    font-weight: $fw-700;
    font-size: 2rem;
}

p {
    padding-block: 1.5rem;
}

.button {
    text-align: center;
    color: $neutral-white;
    background-color: $accent-blue;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    box-shadow: 0 0.5rem 0.3rem red;
    margin-block: 2rem;
    cursor: pointer;
}

.btn_trial {
    text-decoration: none;
    color: $neutral-gray-blue;
}

.btn_trial_try {
    font-weight: $fw-700;
    color: $neutral-white;
}

.button:hover {
    background-color: hsl(249, 58%, 55%);;
}

form {
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.3rem red;
}

input {
    padding: 1rem 0.5rem;
    min-width: 100%;
    border: 0.1px solid lightgray;
    border-radius: 0.4rem;
    margin-block: 1rem;
    color: $primary-red;
    font-weight: $fw-500;
}

.input_wrapper {
    position: relative;
}

.sr-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    width: 1px;
}

::placeholder {
    font-weight: $fw-600;
}

.error {
    font-size: 0.7rem;
    color: red;
    padding: 0;
    text-align: right;
}

.error_icon {
    position: absolute;
    top: 2.5rem;
    left: 31rem;
}

.submit {
    margin-block: 1rem;
    color: $neutral-white;
    background-color: $primary-green;
    border: none;
    min-width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-weight: $fw-600;
    text-transform: uppercase;
    box-shadow: 0 0.2rem rgb(2, 201, 2);
    cursor: pointer;
}

.submit:hover {
    background-color: hsl(154, 98%, 57%);
}

.p_terms {
    text-align: center;
    color: $neutral-gray-blue;
    padding-inline: 0.8rem;
    font-size: 0.7rem;
    padding-top: 0.2rem;
}

.span_terms {
    color: $primary-red;
    font-weight: $fw-600;
}

@media (min-width: 40rem) {

    body {
        padding-top: 6rem;
    }
    
    .App {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 1.5rem;
    }

    header {
        max-width: 38rem;
    }

    h2 {
        font-size: 3rem;
    }
}