@use 'css-reset';

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-blue: hsl(249, 10%, 26%);
$neutral-gray-blue: hsl(246, 25%, 77%);
$font-size: 1rem;
$ff: 'Poppins';
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;


/* TODO:
    make fonts responsive
*/

body {
    background-image: url('../public/images/bg-intro-mobile.png');
    background-color: $primary-red;
    font-family: $ff;
    font-size: $font-size;
    font-weight: $fw-400;
    padding-inline: 1.8rem;
    min-height: 100vh;
}

main {
    padding-bottom: 2rem;
}

header {
    color: $neutral-gray-blue;
    text-align: center;
}

h2 {
    padding-top: 3.8rem;
}

p {
    padding-block: 1.5rem;
}

.button {
    text-align: center;
    color: $neutral-gray-blue;
    background-color: $accent-blue;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    box-shadow: 0 0.5rem 0.3rem red;
    margin-block: 2rem;
}

.btn_trial {
    text-decoration: none;
    color: $neutral-gray-blue;
    cursor: pointer;
}

form {
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.3rem red;
}

input {
    padding: 1rem 0.5rem;
    min-width: 100%;
    border: 0.1px solid grey;
    border-radius: 0.4rem;
    margin-block: 0.5rem;
}

::placeholder {
    font-weight: $fw-600;

}

button {
    margin-block: 1rem;
    color: $neutral-gray-blue;
    background-color: $primary-green;
    border: none;
    min-width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-weight: $fw-600;
    text-transform: uppercase;
    box-shadow: 0 0.2rem rgb(2, 201, 2);
    cursor: pointer;
}

.p_terms {
    text-align: center;
    color: $neutral-gray-blue;
    padding-inline: 0.8rem;
    font-size: 0.7rem;
}

.span_terms {
    color: $primary-red;
    font-weight: $fw-600;
}
