/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/*  2. Remove default margin  */
* {
  margin: 0;
}

/*  3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/*
  Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*  6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*  7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/*  8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*  9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* TODO:
    fix button/div issue, can't have active states on a div
*/
body {
  background-image: url("../public/images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  padding-inline: 1.8rem;
  min-height: 100vh;
  padding-top: 2rem;
}

main {
  padding-bottom: 2rem;
}

header {
  color: hsl(0, 14%, 95%);
  text-align: center;
}

h2 {
  padding-top: 3.8rem;
  font-weight: 700;
  font-size: 2rem;
}

p {
  padding-block: 1.5rem;
}

.button {
  text-align: center;
  color: hsl(0, 14%, 95%);
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  box-shadow: 0 0.5rem 0.3rem red;
  margin-block: 2rem;
  cursor: pointer;
}

.btn_trial {
  text-decoration: none;
  color: hsl(246, 25%, 77%);
}

.btn_trial_try {
  font-weight: 700;
  color: hsl(0, 14%, 95%);
}

.button:hover {
  background-color: hsl(249, 58%, 55%);
}

form {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.3rem red;
}

input {
  padding: 1rem 0.5rem;
  min-width: 100%;
  border: 0.1px solid lightgray;
  border-radius: 0.4rem;
  margin-block: 1rem;
  color: hsl(0, 100%, 74%);
  font-weight: 500;
}

.input_wrapper {
  position: relative;
}

.sr-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  width: 1px;
}

::-moz-placeholder {
  font-weight: 600;
}

::placeholder {
  font-weight: 600;
}

.error {
  font-size: 0.7rem;
  color: red;
  padding: 0;
  text-align: right;
}

.error_icon {
  position: absolute;
  top: 2.2rem;
  right: 1rem;
}

.submit {
  margin-block: 1rem;
  color: hsl(0, 14%, 95%);
  background-color: hsl(154, 59%, 51%);
  border: none;
  min-width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0.2rem rgb(2, 201, 2);
  cursor: pointer;
}

.submit:hover {
  background-color: hsl(154, 98%, 57%);
}

.p_terms {
  text-align: center;
  color: hsl(246, 25%, 77%);
  padding-inline: 0.8rem;
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

.span_terms {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

@media (min-width: 40rem) {
  body {
    padding-top: 6rem;
  }
  .App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
  }
  header {
    max-width: 38rem;
  }
  h2 {
    font-size: 3rem;
  }
  .error_icon {
    top: 2.5rem;
  }
}/*# sourceMappingURL=App.css.map */